<footer class="footer ucg-icons__newPackage">
  <div class="container">
    <div class="footer__upper">
      <div class="footer__mainLink">
        <div
          data-sly-resource="${'footermain' @ resourceType='ucs-exercise-liliane/components/footernav'}"
        ></div>
      </div>
      <div class="footer__lastLink">
        <div
          data-sly-resource="${'footernav' @ resourceType='ucs-exercise-liliane/components/footernav'}"
        ></div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__col">
        <div
          class="footer__logo"
          data-sly-resource="${'footer__logo' @ resourceType='ucs-exercise-liliane/components/logo'}"
        ></div>
        <div
          class="footer__copy"
          data-sly-resource="${'footer__copy' @ resourceType='ucs-exercise-liliane/components/footer__copy'}"
        ></div>
      </div>
      <div class="footer__col">
        <div
          class="footer__socials"
          data-sly-resource="${'footer__socials' @ resourceType='ucs-exercise-liliane/components/footer__socials'}"
        ></div>
        <div class="footer__utils">
          <div
            data-sly-resource="${'footer__bottom' @ resourceType='ucs-exercise-liliane/components/footernav'}"
          ></div>
        </div>
      </div>
    </div>
  </div>
</footer>
